main {

    @media screen and (max-width:628px) {
        
        & {

            ul li{

                &{
                    justify-content: center;
                    align-items: center;
                }

                h2 {
                    margin-bottom: 5px;
                }
        
                p {
                    flex-direction: column;
                    align-items: center;
                
                    span {

                        & {
                            order: 2;
                        }

                        &[data-preco]::after {
                            text-align: center;
                        }

                    }
                    
                    img {   
                        position: relative;
                        order: 1;
                    }    
            
                }
                
            }

        } 

    }

    @media screen and (max-width:493px) {

        & ul li {

            &{
                margin: 0;
            }
        
            p {

                & {
                    margin: 0;
                }

                span {
                    margin: 5px 0 ;
                    text-align: center;
                }

            }

        }

    }

    @media screen and (max-width:360px) {

        & {

            ul {

                & { 
                    margin: 5px;
                }

                li {

                    h2 {
                        text-align: center;
                    }

                } 

            }

        }

    }

}
