
        @media screen and (max-width:551px) {
            & {

                flex-direction: column;
            
                .pesquisa {
                    
                    margin-bottom: 5px;
                }

            }

        }

        @media screen and (max-width:400px) {
        
            .pesquisa {

                width: 200px;
        
                input {

                    width: 150px;
                }

            }
           
        }

   
   
    
